<h1>{{title}}</h1>


<a href="/">
  <h1>SALÓN DE ARTE</h1>
</a>

<p>{{saludo}}</p>



<img src="{{logo}}" alt="">
<h2>PROYECTO</h2>
<a href="/eventos">EVENTOS</a>
<a href="/convocatorias">CONVOCATORIAS</a>
<a href="/articulos">ARTICULOS</a>
<a href="/resenas">RESEÑAS</a>

<p>{{texto1}}</p>
<p>{{texto2}}</p>
